%hr
%hr
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
/ ----------------------  start  ------------------------
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
#cont
  #head
    / --------------------------------
    %h1  Arrays
    / --------------------------------
#rot
  %article
    %h2 Resultado
    %div
      %h3 PHP - Answer
      / ------ start text ------
      #very
        / ::::::::::::::::::::::::::::::::::::::::::::::
        %h1 Arrays
        %p An array stores multiple values in one single variable
        :javascript
           str = ' <i> I like Volvo, BMW and Toyota </i> '
           document.write(str) 
           
        / ::::::::::::::::::::::::::::::::::::::::::::::
        / ------ end text --------
  %article
    %h2 Codigo
    %div
      %h3 HTML
      / ------ start text ------
      %pre#gray
        &lt;body>
        / ::::::::::::::::::::::::::::::::::::::::::::::
        &lt;h1>Arrays&lt;/h1>
        &lt;p>An array stores multiple values in one single variable:&lt;/p>
        / ::::::::::::::::::::::::::::::::::::::::::::::
        &lt;/body>
      / ------ end html --------
      %hr
      / ------ begin --------
      %h3 PHP
      / ------ start js --------
      %pre#gray
        &lt;?php
        / ::::::::::::::::::::::::::::::::::::::::::::::    
        $cars = array("Volvo", "BMW", "Toyota"); 
        echo "I like " . $cars[0] . ", " . $cars[1] . " and " . $cars[2] . ".";
        / ::::::::::::::::::::::::::::::::::::::::::::::
        ?>
%hr
%hr
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
/ -----------------------  end  -------------------------
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::


/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
/ ----------------------  start  ------------------------
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
#cont
  #head
    / --------------------------------
    %h1  What is an Array?
    / --------------------------------
#rot
  %article
    %h2 Resultado
    %div
      %h3 PHP - Answer
      / ------ start text ------
      #very
        / ::::::::::::::::::::::::::::::::::::::::::::::
        %p An array is a special variable, which can hold more than one value at a time
        %p If you have a list of items (a list of car names, for example), storing the cars in single variables could look like this:    
   
        :javascript
          str1= '<i> Volvo'+ '<br>' + 'BMW' +'<br>'+'Toyota </i> ' 
           document.write(str1 ) 
        / ::::::::::::::::::::::::::::::::::::::::::::::
        / ------ end text --------
  %article
    %h2 Codigo
    %div
      %h3 HTML
      / ------ start text ------
      %pre#gray
        &lt;body>
        / ::::::::::::::::::::::::::::::::::::::::::::::
        &lt;p> An array is a special variable, which can hold more than one value at a time &lt;/p>
        &lt;p> If you have a list of items (a list of car names, for example), storing the cars in single variables could look like this 
        / ::::::::::::::::::::::::::::::::::::::::::::::
        &lt;/body>
      / ------ end html --------
      %hr
      / ------ begin --------
      %h3 PHP
      / ------ start js --------
      %pre#gray
        &lt;?php
        / ::::::::::::::::::::::::::::::::::::::::::::::
        $cars1 = "Volvo";
        $cars2 = "BMW";
        $cars3 = "Toyota";

        / ::::::::::::::::::::::::::::::::::::::::::::::
        ?>
%hr
%hr
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
/ -----------------------  end  -------------------------
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::




/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
/ ----------------------  start  ------------------------
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
#cont
  #head
    / --------------------------------
    %h1  PHP Indexed Arrays 
    / --------------------------------
#rot
  %article
    %h2 Resultado
    %div
      %h3 PHP - Answer
      / ------ start text ------
      #very
        / ::::::::::::::::::::::::::::::::::::::::::::::
        %h1 PHP Indexed Arrays
        %p There are two ways to create indexed arrays:

        %p The index can be assigned automatically (index always starts at 0), like this:
                
        :javascript
          str2= ' <i> I like Volvo, BMW and Toyota</i>' 
            document.write(str2 ); 
        / ::::::::::::::::::::::::::::::::::::::::::::::
        / ------ end text --------
  %article
    %h2 Codigo
    %div
      %h3 HTML
      / ------ start text ------
      %pre#gray
        &lt;body>
        / ::::::::::::::::::::::::::::::::::::::::::::::
        &lt;h1> PHP Indexed Arrays  &lt;h1>
        &lt;p>  There are two ways to create indexed arrays:   &lt;/p>	
        &lt;p>  The index can be assigned automatically (index always starts at 0), like this:   &lt;/p>
        &lt;!--
        $cars = array("Volvo", "BMW", "Toyota");
        $cars[0] = "Volvo";
        $cars[1] = "BMW";
        $cars[2] = "Toyota";       
        
        / ::::::::::::::::::::::::::::::::::::::::::::::
        &lt;/body>
      / ------ end html --------
      %hr
      / ------ begin --------
      %h3 PHP
      / ------ start js --------
      %pre#gray
        &lt;?php
        / ::::::::::::::::::::::::::::::::::::::::::::::
        $cars = array("Volvo", "BMW", "Toyota"); 
        echo "I like " . $cars[0] . ", " . $cars[1] . " and " . $cars[2] . ".";

        / ::::::::::::::::::::::::::::::::::::::::::::::
        ?>
%hr
%hr
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
/ -----------------------  end  -------------------------
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::





/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
/ ----------------------  start  ------------------------
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
#cont
  #head
    / --------------------------------
    %h1  Length of an Array
    / --------------------------------
#rot
  %article
    %h2 Resultado
    %div
      %h3 PHP - Answer
      / ------ start text ------
      #very
        / ::::::::::::::::::::::::::::::::::::::::::::::
        %h1 Get The Length of an Array - The count() Function 
        %p The count() function is used to return the length (the number of elements) of an array

        :javascript
          str3= 3 ;
           document.write(str3 ); 
        / ::::::::::::::::::::::::::::::::::::::::::::::
        / ------ end text --------
  %article
    %h2 Codigo
    %div
      %h3 HTML
      / ------ start text ------
      %pre#gray
        &lt;body>
        / ::::::::::::::::::::::::::::::::::::::::::::::
        &lt;h1>  Get The Length of an Array - The count() Function  &lt;h1>
        &lt;p> The count() function is used to return the length (the number of elements) of an array    &lt;/p>	

        / ::::::::::::::::::::::::::::::::::::::::::::::
        &lt;/body>
      / ------ end html --------
      %hr
      / ------ begin --------
      %h3 PHP
      / ------ start js --------
      %pre#gray
        &lt;?php
        / ::::::::::::::::::::::::::::::::::::::::::::::
		        
        $cars = array("Volvo", "BMW", "Toyota");
        echo count($cars);
        
        / ::::::::::::::::::::::::::::::::::::::::::::::
        ?>
%hr
%hr
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
/ -----------------------  end  -------------------------
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::




/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
/ ----------------------  start  ------------------------
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
#cont
  #head
    / --------------------------------
    %h1  Loop Through an Indexed Array
    / --------------------------------
#rot
  %article
    %h2 Resultado
    %div
      %h3 PHP - Answer
      / ------ start text ------
      #very
        / ::::::::::::::::::::::::::::::::::::::::::::::
        %h1  Loop Through an Indexed Array


        :javascript
          str4= ' <i>Volvo<br> BMW <br>Toyota <br> </i>' ;
           document.write(str4 ); 
        / ::::::::::::::::::::::::::::::::::::::::::::::
        / ------ end text --------
  %article
    %h2 Codigo
    %div
      %h3 HTML
      / ------ start text ------
      %pre#gray
        &lt;body>
        / ::::::::::::::::::::::::::::::::::::::::::::::
        &lt;h1>  Loop Through an Indexed Array  &lt;h1>
        &lt;p>     &lt;/p>	
        
        / ::::::::::::::::::::::::::::::::::::::::::::::
        &lt;/body>
      / ------ end html --------
      %hr

      / ------ begin --------
      %h3 PHP
      / ------ start js --------
      %pre#gray
        &lt;?php
        / ::::::::::::::::::::::::::::::::::::::::::::::
		        
        $cars = array("Volvo", "BMW", "Toyota");
        $arrlength = count($cars);
        for ($x = 0; $x &lt; $arrlength; $x++) {
        echo $cars[$x];
        echo "&lt;br>";
        
        / ::::::::::::::::::::::::::::::::::::::::::::::
        ?>

%hr
%hr
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
/ -----------------------  end  -------------------------
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::





/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
/ ----------------------  start  ------------------------
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
#cont
  #head
    / --------------------------------
    %h1  PHP Associative Arrays
    / --------------------------------
#rot
  %article
    %h2 Resultado
    %div
      %h3 PHP - Answer
      / ------ start text ------
      #very
        / ::::::::::::::::::::::::::::::::::::::::::::::
        
        %h1  PHP Associative Arrays
        %p   Associative arrays are arrays that use named keys that you assign to them.
        %p   There are two ways to create an associative array:
        
        :javascript
          str5= ' <i> Peter is 35 years old </i>' ;
           document.write( str5 ); 
           
        / ::::::::::::::::::::::::::::::::::::::::::::::
        / ------ end text --------
  %article
    %h2 Codigo
    %div
      %h3 HTML
      / ------ start text ------
      %pre#gray
        &lt;body>
        / ::::::::::::::::::::::::::::::::::::::::::::::
        &lt;h1> PHP Associative Arrays  &lt;h1>
        &lt;p>  Associative arrays are arrays that use named keys that you assign to them  &lt;/p>
        &lt;p>  There are two ways to create an associative array:   &lt;/p>	
        / ::::::::::::::::::::::::::::::::::::::::::::::
        &lt;/body>
      / ------ end html --------
      %hr
      / ------ begin --------
      %h3 PHP
      / ------ start js --------
      %pre#gray
        &lt;?php
        / ::::::::::::::::::::::::::::::::::::::::::::::    
        $age = array("Peter"=>"35", "Ben"=>"37", "Joe"=>"43");
        echo "Peter is " . $age['Peter'] . " years old.";
        / ::::::::::::::::::::::::::::::::::::::::::::::
        ?>
%hr
%hr
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
/ -----------------------  end  -------------------------
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::





/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
/ ----------------------  start  ------------------------
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
#cont
  #head
    / --------------------------------
    %h1  PHP Associative Arrays
    / --------------------------------
#rot
  %article
    %h2 Resultado
    %div
      %h3 PHP - Answer
      / ------ start text ------
      #very
        / ::::::::::::::::::::::::::::::::::::::::::::::
        
        %h1  PHP Associative Arrays
        %p   Associative arrays are arrays that use named keys that you assign to them.
        %p   There are two ways to create an associative array:
        
        :javascript
          str6= ' <i>Peter is 35 years old </i> ' ;
           document.write( str6 ); 
           
        / ::::::::::::::::::::::::::::::::::::::::::::::
        / ------ end text --------
  %article
    %h2 Codigo
    %div
      %h3 HTML
      / ------ start text ------
      %pre#gray
        &lt;body>
        / ::::::::::::::::::::::::::::::::::::::::::::::
        &lt;h1> PHP Associative Arrays  &lt;h1>
        &lt;p>  Associative arrays are arrays that use named keys that you assign to them  &lt;/p>
       
        / ::::::::::::::::::::::::::::::::::::::::::::::
        &lt;/body>
      / ------ end html --------
      %hr
      / ------ begin --------
      %h3 PHP
      / ------ start js --------
      %pre#gray
        &lt;?php
        / ::::::::::::::::::::::::::::::::::::::::::::::    
        $age = array("Peter"=>"35", "Ben"=>"37", "Joe"=>"43");
        echo "Peter is " . $age['Peter'] . " years old.";
        / ::::::::::::::::::::::::::::::::::::::::::::::
        ?>
%hr
%hr
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
/ -----------------------  end  -------------------------
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::



/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
/ ----------------------  start  ------------------------
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
#cont
  #head
    / --------------------------------
    %h1  Loop Through an Associative Array
    / --------------------------------
#rot
  %article
    %h2 Resultado
    %div
      %h3 PHP - Answer
      / ------ start text ------
      #very
        / ::::::::::::::::::::::::::::::::::::::::::::::
        
        %h1  Loop Through an Associative Array
        %p   To loop through and print all the values of an associative array, you could use a foreach loop,like this
        
        :javascript
          str7= ' <i>   Key=Peter, Value=35 <br> Key=Ben, Value=37 <br> Key=Joe, Value=43   </i> ' ;
           document.write( str7 ); 
           
        / ::::::::::::::::::::::::::::::::::::::::::::::
        / ------ end text --------
  %article
    %h2 Codigo
    %div
      %h3 HTML
      / ------ start text ------
      %pre#gray
        &lt;body>
        / ::::::::::::::::::::::::::::::::::::::::::::::
        &lt;h1> Loop Through an Associative Array  &lt;h1>
        &lt;p> To loop through and print all the values of an associative array, you could use a foreach loop,like this   &lt;/p>
       
        / ::::::::::::::::::::::::::::::::::::::::::::::
        &lt;/body>
      / ------ end html --------
      %hr
      / ------ begin --------
      %h3 PHP
      / ------ start js --------
      %pre#gray
        &lt;?php
        / ::::::::::::::::::::::::::::::::::::::::::::::    
        $age = array("Peter"=>"35", "Ben"=>"37", "Joe"=>"43");

        foreach($age as $x => $x_value) {
        echo "Key=" . $x . ", Value=" . $x_value;
        echo "&lt;br>";
        }
        / ::::::::::::::::::::::::::::::::::::::::::::::
        ?>
%hr
%hr
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
/ -----------------------  end  -------------------------
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::


