%hr
%hr
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
/ ----------------------  start  ------------------------
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
#cont
  #head
    / --------------------------------
    %h1  PHP Constants
    / --------------------------------
#rot
  %article
    %h2 Resultado
    %div
      %h3 PHP - Answer
      / ------ start text ------
      #very
        / ::::::::::::::::::::::::::::::::::::::::::::::
        %h1 
        %p  A constant is an identifier (name) for a simple value. The value cannot be changed during the script.
        %p  name: Specifies the name of the constant
        %p  value: Specifies the value of the constant
        %p  case-insensitive: Specifies whether the constant name should be case-insensitive. Default is false

        :javascript
           str = ' <i>   Welcome to W3Schools.com!   </i> '
           document.write(str) 
           
        / ::::::::::::::::::::::::::::::::::::::::::::::
        / ------ end text --------
  %article
    %h2 Codigo
    %div
      %h3 HTML
      / ------ start text ------
      %pre#gray
        &lt;body>
        / ::::::::::::::::::::::::::::::::::::::::::::::
        &lt;p>  A constant is an identifier (name) for a simple value. The value cannot be changed during the script&lt;/p>
        &lt;p>  name: Specifies the name of the constant&lt;/p>
        &lt;p>  value: Specifies the value of the constant&lt;/p>
        &lt;p>  case-insensitive: Specifies whether the constant name should be case-insensitive. Default is false&lt;/p>

        / ::::::::::::::::::::::::::::::::::::::::::::::
        &lt;/body>
      / ------ end html --------
      %hr
      / ------ begin --------
      %h3 PHP
      / ------ start js --------
      %pre#gray
        &lt;?php
        / ::::::::::::::::::::::::::::::::::::::::::::::    
        &lt; / case-sensitive constant name 
        define("GREETING", "Welcome to W3Schools.com!");
        echo GREETING;


        / ::::::::::::::::::::::::::::::::::::::::::::::
        ?>
%hr
%hr
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
/ -----------------------  end  -------------------------
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::


/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
/ ----------------------  start  ------------------------
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
#cont
  #head
    / --------------------------------
    %h1 constant dentifier name
    / --------------------------------
#rot
  %article
    %h2 Resultado
    %div
      %h3 PHP - Answer
      / ------ start text ------
      #very
        / ::::::::::::::::::::::::::::::::::::::::::::::
        %h1 
        %p  A constant is an identifier (name) for a simple value. The value cannot be changed during the script.
        :javascript
           str2 = ' <i>  Welcome to W3Schools.com!    </i> '
           document.write(str2) 
           
        / ::::::::::::::::::::::::::::::::::::::::::::::
        / ------ end text --------
  %article
    %h2 Codigo
    %div
      %h3 HTML
      / ------ start text ------
      %pre#gray
        &lt;body>
        / ::::::::::::::::::::::::::::::::::::::::::::::
        /case-insensitive constant name
        define("GREETING", "Welcome to W3Schools.com!", true);
        echo greeting;
        / ::::::::::::::::::::::::::::::::::::::::::::::
        &lt;/body>
      / ------ end html --------
      %hr
      / ------ begin --------
      %h3 PHP
      / ------ start js --------
      %pre#gray
        &lt;?php
        / ::::::::::::::::::::::::::::::::::::::::::::::    
        &lt;case-insensitive constant name
        define("GREETING", "Welcome to W3Schools.com!", true);
        echo greeting;

        / ::::::::::::::::::::::::::::::::::::::::::::::
        ?>
%hr
%hr
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
/ -----------------------  end  -------------------------
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::



/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
/ ----------------------  start  ------------------------
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
#cont
  #head
    / --------------------------------
    %h1 Constants are Global
    / --------------------------------
#rot
  %article
    %h2 Resultado
    %div
      %h3 PHP - Answer
      / ------ start text ------
      #very
        / ::::::::::::::::::::::::::::::::::::::::::::::
        %h1  Constants are Global
        %p  Constants are Global intro the a function 
        :javascript
           str3 = ' <i>   Welcome to W3Schools.com!   </i> '
           document.write(str3) 
           
        / ::::::::::::::::::::::::::::::::::::::::::::::
        / ------ end text --------
  %article
    %h2 Codigo
    %div
      %h3 HTML
      / ------ start text ------
      %pre#gray
        &lt;body>
        / ::::::::::::::::::::::::::::::::::::::::::::::
        &lt;h1>  Constants are Global &lt;/h1>
        &lt;p> Constants are Global intro the a function  &lt;/p>
        / ::::::::::::::::::::::::::::::::::::::::::::::
        &lt;/body>
      / ------ end html --------
      %hr
      / ------ begin --------
      %h3 PHP
      / ------ start js --------
      %pre#gray
        &lt;?php
        / ::::::::::::::::::::::::::::::::::::::::::::::    
        define("GREETING", "Welcome to W3Schools.com!");
        /
        function myTest() {
        echo GREETING;
        }
        /
        myTest();

        / ::::::::::::::::::::::::::::::::::::::::::::::
        ?>
%hr
%hr
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
/ -----------------------  end  -------------------------
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
