// --------------------------------------------
$green: #a1c057; // important  
$white: white;   // important
$black: black;   // important
$Hblack: #333;   // important
$line:  inline;  // important
$none:  none;    // important
$over:  auto;    // important
$dark:  1px solid #333; // important 
$aqua:  1px solid aqua; // important
$tp:    15px;      // important
$pd:    15px 15px; // important
$twen:  20px;      // important
$darkblue: rgba(33, 34, 66, 0.77); // important  
// --------------------------------------------
$rel:  relative; // important
$abs:  absolute; // important
$flex: flex ;    // important
$ct:   center;   // important
$per:  900px;    // important
$jt:   justify;  // important
$rpt:  no-repeat ;    // important
$ard:  space-around;  // important
$bet:  space-between; // important
$rob:  'Roboto', sans-sefif; // important
$shadow: 0px 20px 100px #555; // important
$back:   linear-gradient(to bottom, #59476f 30%, #7b88d1 100%); // important
$ground: linear-gradient(to top, #eba65b 30%, #d99267 100%);    // important
                                                            
/* ::::::::::::----------------------------::::::::::::: */
@mixin bg-black() { background: $black;   }      // background 
@mixin bg-Hblack(){ background: $Hblack;  }      // background 
@mixin bg-green() { background: $green;   }      // background 
@mixin bg-darkblue(){ background: $darkblue; }   // background 
@mixin bg-rpt()   { background-repeat: $rpt; }   // background 
@mixin cl-white() {  color:  $white;      }      // color
@mixin br-aqua()  {  border: $aqua;       }      // border
@mixin br-dark()  {  border: $dark;       }      // border
@mixin overflow() {  overflow: $over;     }      // overflow
@mixin over-x()   {  overflow-x: $over;   }      // overflow
@mixin pd()       {  padding: $pd;        }      // padding
@mixin pd-twen()  {  padding: $twen;      }      // padding
@mixin mar-tp()   {  margin-top: $tp;     }      // margin
@mixin mar-over() {  margin: $over;       }      // margin
@mixin ds-ln()    {  display: $line;      }      // display 
@mixin ds-no()    {  display: $none;      }      // display 
@mixin ds-fx()    {  display: $flex;      }      // display
@mixin tx-dec()   {  text-decoration: $none; }   // text-decoration
@mixin tx-al()    {  text-align: $ct;     }      // list style
@mixin lt-st()    {  list-style: $none;   }      // list style
@mixin pt-abs()   {  position:$abs;       }      // position
@mixin pt-rel()   {  position:$rel;       }      // position   
@mixin font()     {  font-family: $rob ;     }   // font
@mixin js-bet()   {  justify-content: $bet;  }   // justify
@mixin js-ard()   {  justify-content: $ard;  }   // justify
@mixin al-sf()    {  align-self: $ct ;    }      // align 
@mixin per()      {  perspective: $per;   }      // pers
/* ::::::::::::----------------------------::::::::::::: */

//  margin: $over; 
@mixin body() {    @include mar-over() ;}

// background: $black; color: $white;  border: $aqua;
@mixin acordionBox() {  @include bg-black() ;  @include cl-white() ;  @include br-aqua() ;  }

// overflow: $over;   border: $aqua;  background: $Hblack;
@mixin textAcordion() { @include overflow() ;  @include br-aqua() ;  @include bg-Hblack() ;}

// color: $white;   border: $aqua;   overflow: $over;
@mixin caja() { @include cl-white() ;  @include br-aqua() ; @include overflow() ; }

// list-style: $none;   background: $green;  padding: $twen;  
@mixin ul() {   @include lt-st() ;   @include bg-green() ;    @include pd-twen() ; }

//  border: $aqua; 
@mixin hide-ul() { @include br-aqua(); }

//  display: $line; 
@mixin li() { @include ds-ln(); }

//  text-decoration: $none;   color: $white;
@mixin a() { @include tx-dec() ;    @include cl-white() ;}

//  border: $dark;  background: $Hblack; 
@mixin hide-a() { @include br-dark() ;   @include bg-Hblack() ; }

//  overflow: $over;   border: $aqua;   display: $none; 
@mixin effect-code() { @include overflow() ;   @include br-aqua() ;   @include ds-no() ; }

//  background: rgba(33, 34, 66, 0.77);   color: $white;  overflow: $over;   display: $none; 
@mixin effect-output() { @include darkblue() ;   @include cl-white() ;   @include overflow() ;   @include ds-no() ;   }

//  color: $white;   overflow: $over;  background: rgba(33, 34, 66, 0.77);  display: $none;
@mixin effect-print() { @include cl-white() ;   @include overflow() ;   @include bg-darkblue() ;   @include ds-no() ;}

//  margin-top: $tp; padding: $pd; overflow-x: $over;  color: $white;
@mixin boxout() { @include mar-tp() ;   @include pd() ;   @include over-x() ;   @include cl-white() ; }

//  margin-top: $tp; padding: $pd;  overflow: $over; 
@mixin box() { @include mar-tp() ;   @include pd() ;   @include overflow() ; }

// color: $white; border: $aqua;  overflow-x: $over; 
@mixin tabs() {  @include cl-white() ;   @include br-aqua() ;   @include over-x() ; }





/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
.happy {
  color: black;
  text-align: justify;
  // barra superiot 
  max-width: 1630px;
 
//  margin: $over;   
  @include body() 
}

/* Acordion */
.acordion {
  color: lime;
  padding: 10px;
  margin: 2px 0 0 0;
  border: 1px solid #333;
}
/* acordionBox */
.acordionBox {
  padding: 3px;
  margin: 2px 0 0 0;
  height: 975px;
  
// background: $black; color: $white;  border: $aqua;   
  @include acordionBox()
}

.textAcordion {
  height: 95px;
  width: 1500; // important
 
// overflow: $over;   border: $aqua;  background: $Hblack;  
  @include textAcordion()
}

/* :::::::::::::::::::::::::::::::::::::::::::::::::: */
.caja {
  background: #1d1f20;
  margin-top: 5px;
  height: 850px;
  /* modificado*/
  padding: 8px 15px;

// color: $white;   border: $aqua;   overflow: $over;   
 @include caja()
 
}


/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Esto imprime navegador */
#nav_print_model_ul {
  margin-top: 3px;
 
// list-style: $none;   background: $green;  padding: $twen;  
  @include ul()
 
}


/* ::::::::::::::::::::::::: */
#nav_print_container_li {

//  display: $line;   
  @include li()
}


/* ::::::::::::::::::::::::: */
#container_model_a {
  padding: 12px 75px;
  line-height: 34px;
  margin-left: 9px;
  border: 1px solid;
  border-radius: 3px;

//  text-decoration: $none;   color: $white;
  @include a()
}


/* ::::::::::::::::::::::::: */
/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
.boxout {
  background: rgba(110, 110, 110, 0.5);
  
//  margin-top: $tp; padding: $pd; overflow-x: $over;  color: $white;
  @include boxout()
}


/* ::::::::::::::::::::::::: */
.box {
  background: rgba(255, 255, 255, 0.2);
  
//  margin-top: $tp; padding: $pd;  overflow: $over; 
  @include box()
}


/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* :::::::::::::::::::::::::::::::::::::::::::::::::: */
/* ####  Cloud-Print-Output [  Hide   ]  */
/* :::::::::::::::::::::::::::::::::::::::::::::::::: */
/* ####  Cloud-Print-Output [  Hide --- Container ---ul  ]  */
#hide_show_border_container,
#hide_show_border_container1,
#hide_show_border_container2,
#hide_show_border_container3,
#hide_show_border_container4,
#hide_show_border_container5,
#hide_show_border_container6,
#hide_show_border_container7,
#hide_show_border_container8,
#hide_show_border_container9,
#hide_show_border_container10,#hide_show_border_container11,#hide_show_border_container12,#hide_show_border_container13,#hide_show_border_container14,#hide_show_border_container15,#hide_show_border_container16,#hide_show_border_container17,#hide_show_border_container18,#hide_show_border_container19,#hide_show_border_container20,#hide_show_border_container21,#hide_show_border_container22,#hide_show_border_container23,#hide_show_border_container24,#hide_show_border_container25,#hide_show_border_container26,#hide_show_border_container27,#hide_show_border_container28,#hide_show_border_container29 {

// list-style: $none;   background: $green;  padding: $twen;   
//  border: $aqua;   
  @include ul();
  @include hide-ul();
}


/* :::::::::::::::::::::::::::::::::::::::::::::::::: */
/* ####  Cloud-Print-Output [  Hide --- Inline --- li  ]*/
#print_hide_button_inline {
  
//  display: $line;   
  @include li()
}


/* :::::::::::::::::::::::::::::::::::::::::::::::::: */
/* ####  Cloud-Print-Output [  Hide --- A  ]*/
#hide_print_button_code,
#hide_print_button_code1,
#hide_print_button_code2,
#hide_print_button_code3,
#hide_print_button_code4,
#hide_print_button_code5,
#hide_print_button_code6,
#hide_print_button_code7,
#hide_print_button_code8,
#hide_print_button_code9,
#hide_print_button_code10,#hide_print_button_code11,#hide_print_button_code12,#hide_print_button_code13,#hide_print_button_code14,#hide_print_button_code15,#hide_print_button_code16,#hide_print_button_code17,#hide_print_button_code18,#hide_print_button_code19,#hide_print_button_code20,#hide_print_button_code21,#hide_print_button_code22,#hide_print_button_code23,#hide_print_button_code24,#hide_print_button_code25,#hide_print_button_code26,#hide_print_button_code27,#hide_print_button_code28,#hide_print_button_code29,#hide_print_button_code30,#hide_print_button_code31,#hide_print_button_code32,#hide_print_button_code33,#hide_print_button_code34,#hide_print_button_code35,#hide_print_button_code36,#hide_print_button_code37,#hide_print_button_code38,#hide_print_button_code39 {
  padding: 12px 80px;
  cursor: pointer;
  /* ::::::::::::::::::::::::: */
  border: 2px solid white;
  border-radius: 4px;
  // @include hide-a();
  // background: #8b8b8b;
  // background: linear-gradient(to bottom,  #8b8b8b 0%,#6a6a6a 50%,#5e5e5e 51%,#717171 100%);
  background: rgb(58, 58, 58);
  background: linear-gradient(to bottom, rgba(58, 58, 58, 1) 0%, rgba(125, 126, 125, 1) 31%, rgba(99, 99, 99, 1) 62%, rgba(12, 12, 12, 1) 100%);
  /* ::::::::::::::::::::::::: */
}


/* :::::::::::::::::::::::::::::::::::::::::::::::::: */
/* ####  Cloud-Print-Output [  Hide --- Code --- Effect  ] */
#hide_show_print_code,
#hide_show_print_code1,
#hide_show_print_code2,
#hide_show_print_code3,
#hide_show_print_code4,
#hide_show_print_code5,
#hide_show_print_code6,
#hide_show_print_code7,
#hide_show_print_code8,
#hide_show_print_code9,
#hide_show_print_code10,#hide_show_print_code11,#hide_show_print_code12,#hide_show_print_code13,#hide_show_print_code14,#hide_show_print_code15,#hide_show_print_code16,#hide_show_print_code17,#hide_show_print_code18,#hide_show_print_code19,#hide_show_print_code20,#hide_show_print_code21,#hide_show_print_code22,#hide_show_print_code23,#hide_show_print_code24,#hide_show_print_code25,#hide_show_print_code26,#hide_show_print_code27,#hide_show_print_code28,#hide_show_print_code29 {
  background: aqua;
  margin-top: 6px;
  margin-left: -14px;
  padding: 3px 3px;
  height: 900px; // modificado
  width: 1220px; // modificado
  overflow: auto;
  
//  overflow: $over;   border: $aqua;   display: $none; 
  @include effect-code()
}


/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
#tabs-1,
#tabs-2,
#tabs-3,
#tabs-4,
#tabs-5,
#tabs-6,
#tabs-7,
#tabs-8,
#tabs-9,
#tabs-10,#tabs-11,#tabs-12,#tabs-13,#tabs-14,#tabs-15,#tabs-16,#tabs-17,#tabs-18,#tabs-19,#tabs-20,#tabs-21,#tabs-22,#tabs-23,#tabs-24,#tabs-25,#tabs-26,#tabs-27,#tabs-28,#tabs-29,#tabs-30,#tabs-31,#tabs-32,#tabs-33,#tabs-34,#tabs-35,#tabs-36,#tabs-37,#tabs-38,#tabs-39,#tabs-40,#tabs-41,#tabs-42,#tabs-43,#tabs-44,#tabs-45,#tabs-46,#tabs-47,#tabs-48,#tabs-49,#tabs-50,#tabs-51,#tabs-52,#tabs-53,#tabs-54,#tabs-55,#tabs-56,#tabs-57,#tabs-58,#tabs-59,#tabs-60,#tabs-61,#tabs-62,#tabs-63,#tabs-64,#tabs-65,#tabs-66,#tabs-67,#tabs-68,#tabs-69,#tabs-70,#tabs-71,#tabs-72,#tabs-73,#tabs-74,#tabs-75,#tabs-76,#tabs-77,#tabs-78,#tabs-79,#tabs-80,#tabs-81,#tabs-82,#tabs-83,#tabs-84,#tabs-85,#tabs-86,#tabs-87,#tabs-88,#tabs-89,#tabs-90,#tabs-91,#tabs-92,#tabs-93,#tabs-94,#tabs-95,#tabs-96,#tabs-97,#tabs-98,#tabs-99,#tabs-100,#tabs-101,#tabs-102,#tabs-103,#tabs-104,#tabs-105,#tabs-106,#tabs-107,#tabs-108,#tabs-109,#tabs-110,#tabs-111,#tabs-112,#tabs-113,#tabs-114,#tabs-115,#tabs-116,#tabs-117,#tabs-118,#tabs-119,#tabs-120 {
  margin-top: -15px;
  height: 855px;
  
  padding: 0px 25px;
  background: rgba(14, 14, 94, 0.3333);

// color: $white; border: $aqua;  overflow-x: $over;   
  @include tabs()
}


/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
@mixin cloud() {
  background: rgb(10, 8, 9);
  background: linear-gradient(to bottom, rgba(10, 8, 9, 1) 0%, rgba(10, 14, 10, 1) 7%, rgba(10, 14, 10, 1) 7%, rgba(75, 81, 81, 1) 47%, rgba(10, 14, 10, 1) 91%, rgba(10, 8, 9, 1) 100%);
}

@mixin cloud-hover() {
  background: rgb(58, 58, 58);
  background: linear-gradient(to bottom, rgba(58, 58, 58, 1) 0%, rgba(125, 126, 125, 1) 31%, rgba(99, 99, 99, 1) 62%, rgba(12, 12, 12, 1) 100%);
}


/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
@mixin cloud-model() {
  background: #8b8b8b;
  background: linear-gradient(to bottom, #8b8b8b 0%, #6a6a6a 50%, #5e5e5e 51%, #717171 100%);
}

@mixin cloud-model-hover() {
  background: rgb(63, 63, 63);
  background: linear-gradient(135deg, rgba(63, 63, 63, 1) 0%, rgba(125, 126, 125, 1) 30%, rgba(125, 126, 125, 1) 70%, rgba(63, 63, 63, 1) 100%);
}


/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
.acordion {
  @include cloud();
  cursor: pointer;
}

.acordion:hover {
  @include cloud-hover();
}

#container_model_a {
  @include cloud-model();
  cursor: pointer;
}

#container_model_a:hover {
  @include cloud-model-hover();
}

#cont {
  background: linear-gradient( to top right, rgba(63, 81, 181, 1) 0%, rgba(3, 155, 229, 1) 40%);
  box-shadow: 1px 1px 30px rgba(2, 119, 189, 1);
  padding: 13px;
  margin-top: -16px;
}

#text {
  padding: 8px;
  text-align: center;
  text-transform: capitalize;
  max-width: 600px;
  margin: auto;
  color: white;
  width: 450px;
  background-color: rgba(31, 31, 31, 0.6);
  border-left: 1px solid #e2695f;
  border-radius: 3px;
}
